*.log
__pycache__/
.venv/
venv/
backend/venv/
.env
.env.local
.env.production

# Large model files (Tracked via Git LFS)
# *.pth
# *.joblib
node_modules

# Uploads
uploads/
server/uploads/
dist/
backend/analyzed_videos/
